.title {
  font-family: 'Friends by Angry';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  color: #FFFFFF;
  padding-top: 93px;
  padding-bottom: 30px;
  text-align: center;
}