.list-of-levels {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  max-width: 252px;
}
.list-of-levels .item {
  margin: 4px;
}
.list-of-levels .item-link {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  font-family: 'Friends by Angry';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #f66596;
  box-sizing: border-box;
  box-shadow: 0 0 0 rgba(246,101,150,1);
  transition: transform .3s,border .3s,box-shadow .3s;

}

.list-of-levels .item-link:hover:not(:active) {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(246,101,150,1);
}