body {
  height: 100vh;
  background-color: #002357;
}

.main-container {
  max-width: 360px;
  margin: 0 auto;
  background-color: #002357;
  padding: 0 16px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* width */
.main-container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
.main-container::-webkit-scrollbar-track {
  background: rgba(0,0,0,.0);
}

/* Handle */
.main-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
}

/* Handle on hover */
.main-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.2);
}